extends partials/layout

block content
  .welcome
    .welcome__text
      //- block
      h1 Welcome to the Pizza Shack! We pull our pizza off of pizza-da-hut.
      h2= body.magic
    .welcome__image
      img(src='/images/pizza.jpg')
